/* APP AREA STYLING */
.app-area{
  background-image: url(./assets/gymbackground.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
/* END OF APP AREA STYLING */

/* NAV BAR STYLING */

.logo-img {
  height: 50px;
  width:70px
}


/* END OF NAVBAR STYLING */

/* BODY PARTS STYLING */

.muscle-tabs{
  width: 80%;
  height: auto;
  min-height: 400px;
  background: #373a3a;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: #E8F0F2;
  border-radius: 2rem;
  @media (max-width: 769px) {
   padding: 2rem 0;
  }
 }

 .tabs {
  width: 80%;
  margin: 0 auto 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #9ba0a3;
  padding-left: 0px;
  @media (max-width: 768px) {
    width: 90%;
  }
}
.tabs-item {
  width: 50%;
  padding: 1rem;
  list-style: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.7s;
}
.tabs-item:hover {
  background: rgba(186, 190, 189, 0.15);
}

.muscleimg{
  height: 350px;
  width: 350px;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  border-radius: 50%;
}
/* END OF BODY PARTS STYLING */

/* FOOD STYLING */
.food{
  width: 80%;
  height: auto;
  min-height: 400px;
  display: flex;
  background: #373a3a;
  margin: 3.5rem auto 1.5rem;
  padding: 2rem 1rem;
  color: #E8F0F2;
  border-radius: 2rem;
  @media (max-width: 769px) {
   padding: 2rem 0;
  }
}

.food-form{
  text-align: center;
  width: 100%;
  padding: 10px;
}

.food-text{
  text-align: center;
}

.food-card-text{
color: #373a3a;
text-transform: uppercase;

}

.food-card{
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  width: auto;
}

.food-input{
  height: 30px;
}

.button {
  height: 30px;
  width: 60px;
  background-color: darkgreen;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
/* END OF FOOD STYLING */